In [0]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import *

In [0]:
## Create dataframe

data = [
        (1   ,1),
        (2   ,1),
        (3   ,1),
        (4   ,2),
        (5   ,1),
        (6   ,2),
        (7   ,2)
] 

schema = ["id","num"]

new_df = spark.createDataFrame(data,schema)

new_df.show()

Different types to select columns

In [0]:
## Different ways to select column

read_df.select("*").show()
read_df.select("id").show()
read_df.select(col("name")).show()
read_df.select(read_df["age"]).show()
read_df.select(read_df.address).show()

## Different ways to select multiple column

read_df.select("id",col("name"),read_df["age"],read_df.address).show()

## to apply any manipulation
read_df.select(col("age")+2).show()

Use expression to select columns

In [0]:
## Use of expression

read_df.select(expr("id as emp_id"),expr("age + 5 as new_age"),expr("concat(name,' ',address) as concat_col")).show()

Spark SQL

In [0]:
## To write we need to convert dataframe into table

read_df.createOrReplaceTempView("emp_table")

In [0]:
%sql
select * from emp_table

In [0]:
spark.sql('''
          select id,name,age from emp_table
          ''').show()