In [0]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import *

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

schema = "id INT, name STRING, age INT, salary INT, country STRING, department STRING"

emp_df = spark.createDataFrame(data=emp_data, schema=schema)

display(emp_df)

### COUNT AS ACTION

In [0]:
emp_df.count()

### COUNT AS TRANSFORMATION

In [0]:
emp_df.select(count('name')).display()

### SUM,MAX,MIN,AVG

In [0]:
emp_df.select(sum('salary').alias('Total_salary'),
              max('salary').alias('Max_salary'),
              min('salary').alias('Min_salary'),
              avg('salary').alias('Avg_salary')).display()

### GROUP-BY

Department wise total salary

In [0]:
emp_df.groupBy('department').agg(sum('salary').alias('Total_salary')).display()