In [0]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import *

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

emp_schema = ["id","name","age","salary","country","department"]

emp_df = spark.createDataFrame(emp_data,emp_schema)

emp_df.show()

In [0]:
emp_df.createOrReplaceTempView("employee_table")

# CASE_WHEN -- SPARK SQL

In [0]:
%sql
select id,name,age,salary,country,department,
case when age < 18 then "young"
     when age >= 18 then "adult"
     when isnull(age) then "No age present"
End Age_Category
from employee_table

# WHEN-OTHERWISE -- DATAFRAME PYSPARK

**SINGLE CONDITION NEW COLUMN WITHOUT NULL REMOVE**

In [0]:
## without remove null
emp_df.withColumn("age_category",when(col("age")<18,"young")
                                .when(col("age") >= 18, "adult")
                                .otherwise("No age present")).show()

**REMOVE NULL AND SINGLE CONDITION AND CREATE NEW COLUMN CHECK ADULTS**

In [0]:
## remove null and then check adult
emp_df.withColumn("age", when(col("age").isNull(),lit(19))
                        .otherwise(col("age")))\
      .withColumn("adult", when(col("age") < 18, "No")
                        .otherwise("Yes")).show()

**REMOVED NULL AND MULTIPLE CONDITION WISE COLUMN**

In [0]:
## with remove null
emp_df.withColumn("age", when(col("age").isNull(), lit(19))
                            .otherwise(col("age"))) \
    .withColumn("age_category",when((col("age")>0) & (col("age")<18),"Minor")
                                .when((col("age")>=18) & (col("age")<30), "Adult")
                                .otherwise("Senior")).show()