In [0]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import *

In [0]:
data =[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

schema = ["id","name","salary","age"]

manager_df = spark.createDataFrame(data,schema)

data1= [(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17)]

schema1 = ["id","name","salary","age"]

manager_df1 = spark.createDataFrame(data1,schema1)

duplicate_data= [(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

duplicate_schema = ["id","name","salary","age"]

duplicate_manager_df = spark.createDataFrame(duplicate_data,duplicate_schema)

In [0]:
manager_df.show()
manager_df1.show()
duplicate_manager_df.show()

In [0]:
manager_df.count()
duplicate_manager_df.count()

# UNION

In [0]:
manager_df.union(manager_df1).show()

# UNION vs UNIONALL -- same for dataframe

In [0]:
duplicate_manager_df.union(manager_df1).show()
duplicate_manager_df.unionAll(manager_df1).show()

In [0]:
duplicate_manager_df.createOrReplaceTempView("Duplicate_data_table")
manager_df1.createOrReplaceTempView("manager_table")

In [0]:
%sql
select id,name,salary,age from Duplicate_data_table
union
select id,name,salary,age from manager_table

In [0]:
%sql
select id,name,salary,age from Duplicate_data_table
union all
select id,name,salary,age from manager_table

In [0]:
%sql
select id,name,salary,age from Duplicate_data_table
union
select id,name,salary,age from Duplicate_data_table

# CHANGE COLUMN ORDER

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_order_schema = ["id","salary","age","name"]

wrong_manager_df = spark.createDataFrame(wrong_column_data,wrong_order_schema)

wrong_manager_df.show()

In [0]:
manager_df1.union(wrong_manager_df).show()

# wrong data we got above, to solve use UNIONBYNAME

In [0]:
manager_df1.unionByName(wrong_manager_df).show()

# ISSUE IN UNIONBYNAME -- WHEN COLUMN NAMES ARE DIFFERENT

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_order_name_schema = ["id","salary","age","man_name"]

wrong_manager_diffcolname_df = spark.createDataFrame(wrong_column_data,wrong_order_name_schema)

wrong_manager_diffcolname_df.show()

In [0]:
manager_df1.unionByName(wrong_manager_diffcolname_df).show()

# COLUMN NUMBERS ARE DIFFERENT

In [0]:
wrong_column_data1=[(19 ,50000, 18,'Sohan',10),
(20 ,75000,  17,'Sima',20)]

wrong_data_schema = ["id","salary","age","name","bonus"]

wrong_manager_df_extra_col = spark.createDataFrame(wrong_column_data1,wrong_data_schema)

wrong_manager_df_extra_col.show()

In [0]:
manager_df1.union(wrong_manager_df_extra_col).show()